
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
    }
    .card {
        border-radius: 15px;
    }
    #inputbox {
        height: 45px;
    }
    .btn {
        height: 45px;
        border-radius: 25px;
    }
    .btn-primary {
        background-color: #0095fe;
        border-color: #0095fe;
    }
    .link-primary {
        color: #0095fe;
    }
    .link-secondary {
        color: #6c757d;
    }
